@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Prompt&display=swap');

body{
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: 0 -100px;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: black;
  display: flow-root;
  font-family: "Mukta", "sans-serif";
  color: white;
}
.container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.307);
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  width: 500px;
  margin: auto;
  padding: 5px;
}
.printArray{
  display:flex;
  background-color: rgba(255, 192, 203, 0.798);
  flex-direction: column;
  margin: auto;
}
.printArray p{
  animation: fadein 5s
}
@keyframes fadein{
  from{
    opacity: 0;
    color: rgb(244, 150, 9);
  }
  to{
    opacity: 100%;
    color: rgb(55, 255, 0);
  }
}

.hidden{
  display: none;
}