body{
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
.container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.307);
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
}
.printArray{
  display:flex;
  background-color: rgba(255, 192, 203, 0.497);
  flex-direction: column;
  margin: auto;
}
.hidden{
  display: none;
}