@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Prompt&display=swap');

html{
  background-image: url("../img/background2.jpg");
  background-size: cover;
  background-position: 0 -100px;
  background-repeat: repeat;
  height: 100vh;
  background-color: black;
  display: flow-root;
  font-family: "mukta", sans-serif;
  color: white;
}
.container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.307);
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  width: 500px;
  margin: auto;
  padding: 5px;
  font-family: "Mukta", sans-serif;
}
.printArray{
  display:flex;
  background-color: rgba(203, 42, 69, 0.798);
  flex-direction: column;
  margin: auto;
  padding: 5px;
  font-family: "Mukta", sans-serif;
}
.printArray p{
  animation: fadein 5s
}
@keyframes fadein{
  from{
    opacity: 0;
    color: rgb(244, 150, 9);
  }
  to{
    opacity: 100%;
    color: rgb(55, 255, 0);
  }
}
#submit{
  background-color: rgba(59, 247, 59, 0.895);
  border-radius: 20px;
  font-family: "Mukta", sans-serif;
}

.clear{
  display: grid;
  font-size:18px;
  padding: 5px;
  border-radius: 20px;
  background-color: yellow;
  font-family: "Mukta", sans-serif;
}





.hidden{
  display: none;
}